services:
  db:
    image: postgres:17
    container_name: postgres_server
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data/pgdata
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 4G
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped
  app:
    build: .
    container_name: acb_server
    command: ["/app/scripts/start.sh"]
    env_file:
      - .env
    ports:
      - 9999:8000
    depends_on:
      - db

volumes:
  pgdata:
    driver: local
